<div class="btn-group" dropdown>
    <button id="button-animated" dropdownToggle type="button" class="btn dropdown-toggle"
            aria-controls="dropdown-animated">
        <img src="../../../assets/images/user-icon.png">
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="button-animated">
      <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">UserList</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">LogOut</a></li>
    </ul>
  </div>
