<div class="card">
    <h4 class="card-header">Registration</h4>
    <div class="card-body">
        <div *ngIf="isEmailExist" class="alert alert-danger" role="alert">
            Email already exist.
        </div>
        
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="first-name">First Name : </label>
                <input type="text" formControlName="FirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" />
                <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                    <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="last-name">Last Name : </label>
                <input type="text" formControlName="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="email">Email : </label>
                <input type="text" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                    <div *ngIf="f.Email.errors.required">Email is required</div>
                    <div *ngIf="f.Email.errors.pattern">Should valid email pattern</div>
                    <div *ngIf="f.Email.errors.mismatch">All charecter should not space</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password : </label>
                <input type="password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                    <div *ngIf="f.Password.errors.required">Password is required</div>
                    <div *ngIf="f.Password.errors.minlength">Password should at least 6 digit</div>
                    <div *ngIf="f.Password.errors.mismatch">All charecter should not space</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password : </label>
                <input type="password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted 
                && (f.ConfirmPassword.errors || (registrationForm.errors?.mismatch 
                && (registrationForm.controls['ConfirmPassword'].dirty 
                || registrationForm.controls['ConfirmPassword'].touched))) }" />

                <div *ngIf="submitted && registrationForm.errors?.mismatch 
                    && (registrationForm.controls['ConfirmPassword'].dirty 
                    || registrationForm.controls['ConfirmPassword'].touched)" class="invalid-feedback"> Password mismatched</div>

                <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.ConfirmPassword.errors.required">Password is required</div>
                    <div *ngIf="f.ConfirmPassword.errors.minlength">Password should at least 6 digit</div>
                    <div *ngIf="f.ConfirmPassword.errors.mismatch">All charecter should not space</div>
                </div>
            </div>
            <span>Role: </span>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="Role" id="userRole" value="user">
                <label class="form-check-label" for="userRole">USER</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="Role" id="adminRole" value="admin" [attr.disabled]=true>
                <label class="form-check-label" for="adminRole">ADMIN</label>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
            </div>
        </form>
    </div>
  </div>

<app-login-massage></app-login-massage>
