<div class="btn-group" dropdown (click)="onClick()">
    <button id="button-animated" dropdownToggle type="button" class="btn dropdown-toggle"
            aria-controls="dropdown-animated">
        <img src="../../../assets/images/user-icon.png">
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="button-animated">
      <li *ngIf="loginState" role="menuitem"><a class="dropdown-item" routerLink="profile/{{loginState.id}}">Profile</a></li>
      <li *ngIf="loginState && loginState.Role === 'admin'" role="menuitem"><a class="dropdown-item" routerLink="user/list">UserList</a></li>
      <li *ngIf="loginState" role="menuitem"><a class="dropdown-item" routerLink="auth/logout">LogOut</a></li>
      <li *ngIf="!loginState" role="menuitem"><a class="dropdown-item" routerLink="auth/login">LogIn</a></li>
      <li *ngIf="!loginState" role="menuitem"><a class="dropdown-item" routerLink="auth/register">Register</a></li>
    </ul>
</div>
